<br><br><center>
<h2 style="color: Green;">Thank you for shopping with us! Your order has been placed.</h2><br>

<h3>A detailed email has been sent to you.</h3><br /><br>

<a href="/gallery/index">Click here to continue the shopping</a><br>
</center>
